<h1>Olá, confirme seu e-mail!</h1>

<p>
    Você está recebendo essa mensagem porque se inscreveu no nosso site.<br>
    Para validar seu acesso, por favor, confirme seu e-mail clicando no link abaixo:<br>
    <a href="{{ signedUrl|raw }}">Confirmar e-mail</a>.<br>
    Essa mensagem expira em {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Obrigado!
</p>
