{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Área Administrativa{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="#">Alguma ação</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>
                Uma coluna
            </td>
            <td>
                Outra coluna
            </td>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
{% endblock %}

