{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Envio de e-mail pessoal
{% endblock %}

{% block main %}
 <p>
    Ao clicar no botão abaixo você enviará um e-mail de testes para o seu e-mail pessoal.<br><br>
    <a href="{{ path('app_admin_sending_personal_mail') }}" class="btn btn-primary">Enviar</a>
 </p>
{% endblock %}